aiohttp
aioredis 
aioresponses 
aiosignal 
alabaster 
anyio 
async-timeout 
attrs 
Babel 
backend-api==0.1.0
black 
certifi 
chardet 
charset-normalizer 
click 
coverage 
docutils 
fastapi 
flake8 
flake8-docstrings 
flake8-import-order 
flake8-todo 
frozenlist 
gunicorn 
h11 
httptools 
idna 
imagesize 
iniconfig 
Jinja2 
markdown-it-py 
MarkupSafe 
mccabe 
mdit-py-plugins 
mdurl 
mock 
multidict 
mypy-extensions 
myst-parser 
packaging 
Pallets-Sphinx-Themes 
pathspec 
platformdirs 
pluggy 
py 
pycodestyle 
pydantic 
pydocstyle 
pyflakes 
Pygments 
pyparsing 
pytest 
pytest-asyncio 
pytest-cov 
python-dotenv 
pytz 
PyYAML 
requests 
sniffio 
snowballstemmer 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
starlette 
toml 
tomli 
typing_extensions 
urllib3 
uvicorn 
uvloop 
watchfiles 
websockets 
yarl 
